.wrapper {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  min-height: 330px;
  cursor: pointer;
  overflow: hidden;
  margin-top: 20px;
  position: relative;

  img {
    width: 100%;
    display: flex;
    margin: auto;
    object-fit: contain;
  }

  &:hover {
    border: 1px solid var(--primary-color);

    .add-to-cart {
      color: #fff;
      background-color: var(--primary-color);
      opacity: 1;
    }

    img {
      animation: imgGrow linear 0.3s forwards;
    }
  }
}

@keyframes imgGrow {
  to {
    transform: scale(1.05);
  }
}

.info {
  padding: 10px;
}

.name {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.price {
  font-size: 1.4rem;
  font-weight: 700;
  color: #eb3e32;
}

.add-to-cart {
  font-size: 2.2rem;
  background-color: transparent;
  padding: 2px 4px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  margin-right: 3px;
  transition: all ease 0.2s;
}

@media (max-width: 739px) {
  .wrapper {
    min-height: 347px;
  }
}
